<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>DESKRIPSI APLIKASI </mat-card-title>
    <mat-card-subtitle>I-Apotek</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://4.bp.blogspot.com/-WGYuudehk04/VpyczqWJQAI/AAAAAAAAB7k/16qFIy7Lvug/s1600/Apotek%2BMandiri%2B2.jpg" alt="Etalase Obat">
  <mat-card-content>
    <p>
      I-Apotek adalah rancangan aplikasi website yang dibuat dengan tujuan untuk mendigitalisasikan kartu stok yang ada di apotek.
      Kartu stok berguna untuk mencatat hasil pembelian obat yang ada di apotek, kartu stok bertujuan untuk mengontrol dan memeriksan 
      stok obat yang ada di apotek. Dengan adanya aplikasi website ini, pencatatan apotek dapat terorganisir dan tidak perlu takut untuk 
      kemungkinan kartu stok yang gilang atau robek. 
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>